*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  height: 100vh;
  display: flex;
  background: rgb(212, 212, 212);
  justify-content: center;
}

header{
align-content: center;

}

footer{
  align-self: flex-end;
  text-align: center;
}